*{
  font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    
    
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*.ralewayuniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}*/


body {
  background:#F0F3FF;
  color: #211951;
  
}

.hero{
  height:100vh;


}
  

.grid-container {
  
  width: 100%;
  height: 100vh;
  margin: auto; 
  
}

.grid-item{
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  font-family: "Raleway", sans-serif; 
  font-weight: bold;
  border: 1px solid #ddd; 
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  transition: transform 0.2s, box-shadow 0.2s; 
  padding:1rem;
  justify-content: center;
  align-items: center;
  
  
  
}

.grid-item:hover {
  transform: translateY(-2px); 
  box-shadow: 0px 5px 15px #ADD8E6; 
}

.grid {
 display: flex;
  width: 80%;
  height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 5%;
  
}

#train {
  padding-top: 3rem;
  width: 50%;
  height: auto;
  flex-direction: column;
}

#car {
  padding-bottom: 1rem;
  width: 60%;
  height: auto;
  flex-direction: column;
}

#plane {
  padding-top: 1rem;
  
  width: 40%;
  height: auto;
  flex-direction: column;
  margin-left: 1rem;
}

#ship {
  padding-top: 1rem;
  
  width: 40%;
  height: auto;
  flex-direction: column;

}

.text {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 3rem;
  color: #333;
  text-align: left;
  font-family: "stolzl", sans-serif;
font-weight: 700;
font-style: normal;
}

h2{
  font-size: 1.2rem;
  text-align: center;
  color: #333;
  font-family: "stolzl", sans-serif;
font-weight: 700;
font-style: normal;
}
p {
  font-size: 1rem;
  color: #666;
  font-family: "stolzl", sans-serif;
font-weight: 400;
font-style: normal;
}

.div1, .div3, .div5 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}


.stat { 
  padding-top: 1rem;
  font-size: 4rem;
  font-family: "stolzl", sans-serif;
font-weight: 700;
font-style: normal;
}



.div1 { grid-area: 3 / 4 / 4 / 6; }
.div2 { grid-area: 1 / 4 / 3 / 6; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 4 / 2; }
.div5 { grid-area: 1 / 1 / 2 / 3; }
.div6 { grid-area: 2 / 2 / 4 / 4; }






.learn-more-btn {
  background-color: #ADD8E6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "stolzl", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex; /* Add display flex */
}



.learn-more-btn:hover {
  background-color: #87CEEB;
  transform: scale(1.05);
}

.learn-more-btn:focus {
  outline: none;
}










.contentWrapper{
  position: relative;
  height: 80vh;
  width: 80%;
  margin: auto;
  margin-bottom: 10rem;
}

.canvasStyle{
  position: relative;
  font-family: "Raleway", sans-serif; 
  border: 1px solid #ddd; 
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  transition: transform 0.2s, box-shadow 0.2s; 
  padding:2rem;

}




.canvasStyle:hover {
  transform: translateY(-2px); /* Lift the canvas on hover */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Enhance box shadow on hover */
}



.zoom-icon {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #bbb;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  display: none; /* Initially hide the icon */
}

/* Show the icon when hovering over the grid item */
.grid-item:hover .zoom-icon {
  display: block;
}


/* Modal styles */
.modal, .additional{
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 50%; 
  top: 50%; 
  width: 80%;
  height: 81vh;
  transform: translate(-50%, -50%);
  background-color: #fff; 
 
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif; 
  font-weight: bold;
  border: 1px solid #ADD8E6; 
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Modal content styles */

.modal-content {
  position: relative;
  margin: auto; 
  background-color: #fff; 
  border: 1px solid #ADD8E6; 
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s; 
  overflow: auto;
}

.modal canvas  {

    height: 90% !important;
    width: auto !important;
    padding: 2rem;
    margin: auto; /* Center the canvas horizontally */
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #bbb;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #888;
  text-decoration: none;
  cursor: pointer;
}


