*{
  font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    
    
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.ralewayuniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  background:#F0F3FF;
  color: #211951;
}

.hero{
  height:100vh;


}
  

.grid-container {
  
  width: 100%;
  height: 100vh;
  margin: auto; 
  
}

.grid-item{
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  font-family: "Raleway", sans-serif; 
  border: 1px solid #ddd; 
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  transition: transform 0.2s, box-shadow 0.2s; 
  padding:1rem;
  justify-content: center;
  align-items: center;
  
  
}

.grid-item:hover {
  transform: translateY(-2px); 
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
}

.grid {
 display: flex;
  width: 80%;
  height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 5%;
  
}



.grid-item.div3 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}


.grid-item.div3 .text {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

.grid-item.div3 h1 {
  font-size: 5rem;
  margin: 0; 
  padding: 0;
}

.grid-item.div3 p {
  font-size: 2rem;
  margin: 0; 
  padding: 0; 
}







.grid-item img {
  width: 100%;
  height: 100%;
  pad: 0rem;
  border-radius: 10px; 
}

.grid-item.div4{
  padding: 0;
}


.div1 { grid-area: 3 / 4 / 4 / 6; }
.div2 { grid-area: 1 / 5 / 3 / 6; }
.div3 { grid-area: 2 / 4 / 3 / 5; }
.div4 { grid-area: 2 / 3 / 4 / 4; }
.div5 { grid-area: 1 / 3 / 2 / 5; }
.div6 { grid-area: 3 / 1 / 4 / 3; }
.div7 { grid-area: 1 / 1 / 3 / 3; }












.contentWrapper{
  position: relative;
  height: 30%;
  width: 60vw;
  margin: auto;
  margin-bottom: 5rem;
}

.canvasStyle{
  position: relative;
  font-family: "Raleway", sans-serif; 
  border: 1px solid #ddd; 
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  transition: transform 0.2s, box-shadow 0.2s; 
  padding:2rem;

}




.canvasStyle:hover {
  transform: translateY(-2px); /* Lift the canvas on hover */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Enhance box shadow on hover */
}

  






  